*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; 
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1c1e21;
}

header{
    width: auto;
    font-size: 5rem;
    color: rgb(13, 121, 148);
    margin-bottom: 1rem;
    margin: 3rem auto 5rem;
}

main{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: 0 auto; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.random{
    width: 85%;
    max-width: 80rem;
    min-height: 39rem;
    margin: 0 auto;
    /* max-width: 51rem; */
    /* max-width: 51rem; */
    /* min-width: 30rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 39rem));
    /* grid-template-rows:max-content; */
    /* grid-auto-columns: auto; */
    gap: 1.5rem;
    border: solid 2px gray;
    /* justify-content: center; */
}

.favourite{
   width: 85%;
   max-width: 80rem;
   min-height: 39rem;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 39rem));
   gap: 1.5rem;
   border: solid 2px grau;
}

#dogFavourite{
    width: 95%;
    /* height: 80%; */
}

.dog{
    width: 80%;
    margin: 0 auto;
    position: relative;
    /* display: flex; */
    /* justify-items: center; */
}

#likeDog1, #likeDog2, #likeDog3, #likeDog4{
    /* width: 2rem; */
    /* height: 2rem; */
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: red;
    background-color: #1c1e21;
    font-size: 5rem;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.dog button:hover{
    visibility: visible;
    cursor: pointer;
}

#dog1, #dog2, #dog3, #dog4{
    /* max-width: 40rem;
    max-height: 25rem;
    min-width: 30rem; */
    width: 95%;
    /* height: ; */
    margin: 0 auto;
}

button{
    margin: 3rem auto;
    font-size: 3.5rem;
    font-weight: bolder;
    background-color: rgb(7, 64, 78);
    color: #1c1e21;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: solid 1px;
}

button:hover{
    background-color: rgb(13, 121, 148);
    color: #1c1e21;
    cursor: pointer;
}